<!-- navigator -->
<nav class="fr between w-full p-3 bg-primary">
    <button id="menu-btn" class="icon"><i class="fa fa-bars"></i></button>
    <div class="frc gap-2">
        <input type="text" id="search-inp" placeholder="Search">
        <button id="search-btn" class="none"><i class="fa fa-search"></i></button>
    </div>
    <div class="profile">
        <button id="profile-btn" class="icon"><i class="profile-icon fa fa-user"></i></button>
        <div id="profile-sidebar" class="profile-sidebar bg-surface border-outline rounded-2">
            <div id="navigator-profile-btn" class="profile-item in-auth fr between gap-1 p-2"><i class="profile-item-icon fa fa-user"></i><div class="profile-item-text">Profile</div></div>
            <div id="navigator-settings-btn" class="profile-item in-auth fr between gap-1 p-2"><i class="profile-item-icon fa fa-gear"></i><div class="profile-item-text">Settings</div></div>
            <div id="navigator-signout-btn" class="profile-item in-auth fr between gap-1 p-2"><i class="profile-item-icon fa fa-arrow-right"></i><div class="profile-item-text">Sign Out</div></div>
            <div id="navigator-login-btn" class="profile-item out-auth fr between gap-1 p-2"><i class="profile-item-icon fa fa-user"></i><div class="profile-item-text">Login</div></div>
            <div id="navigator-register-btn" class="profile-item out-auth fr between gap-1 p-2"><i class="profile-item-icon fa fa-users"></i><div class="profile-item-text">Register</div></div>
        </div>
    </div>
</nav>