<!-- tab layout -->
<div id="tab-background" class="tab-background frs w-full h-full">
    <div id="tab-layout-main" class="tab-layout-main fcs h-full bg-background select-none">
        <div id="tab-home" class="tab-item frc gap-2 p-4 w-full">
            <i class="fa fa-home"></i>
            <div>Home</div>
        </div>
        <div id="tab-following" class="tab-item frc gap-2 p-4 w-full">
            <i class="fa fa-music"></i>
            <div>Following</div>
        </div>
        <div id="tab-playlist" class="tab-item frc gap-2 p-4 w-full">
            <i class="fa fa-list"></i>
            <div>Playlist</div>
        </div>
    </div>
</div>