.profile{
    position: relative;
}
.profile-sidebar{
    position: absolute;
    right: 0;
    top: calc(bottom + 0.2rem);
}
.profile-item{
    cursor: pointer;
    user-select: none;
}
.profile-item:hover{background-color: #0001;}
.profile-item:not(:last-child){border-bottom: var(--outline) 1px solid;}
.profile-item-text{
    width: 5rem;
    text-align: center;
}
#search-inp{
    width: calc(var(--size) * 20);
}
#container{
    height: calc(100% - 4rem);
}
#main{
    overflow-x: hidden;
    overflow-y: auto;
    padding: calc(var(--size) * 2) calc(var(--size) * 5);
}
.song-list{
    flex-wrap: wrap;
    justify-content: center;
}
.songs-list > p {
    color: var(--desc);
}
.song-card{
    transition: background 0.2s ease;
    user-select: none;
    background-color: var(--surface);
    border: var(--outline) 1px solid;
    border-radius: 0.4rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}
.song-card-img{
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
.song-card-duration{
    color: #FFF;
    text-shadow: 0 0 0.2rem #000;
}
.song-card-add{
    opacity: 0;
    background-color: #000a;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--size) * 0.5);
    transition: opacity 0.2s ease;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}
.song-card-add:hover{
    opacity: 1;
}
.song-card-add > button{
    color: #fff;
    font-size: calc(var(--size) * 2);
}
.song-card-info{
    width: var(--cardSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}
.song-card-title{
    width: inherit;
    font-size: calc(var(--fontSize) * 1.2);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.song-card-artist{
    width: inherit;
    font-size: calc(var(--fontSize) * 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--desc);
}

#play-panel{
    width: 30rem;
    background-color: var(--surface);
}

#player{
    border-top: var(--outline) 1px solid;
}

.player-progress-bar{
    width: 100%;
    height: 0.5rem;
    background-color: var(--outline);
    position: relative;
    cursor: pointer;
}

.player-current-time, .player-duration{
    font-size: calc(var(--fontSize) * 0.8);
    width: calc(var(--size) * 5);
    text-align: center;
}

.player-progress-bar-fill{
    height: 100%;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
}

#player-text{
    overflow: hidden;
    width: 80%;
}

.player-title, .song-title{
    font-size: calc(var(--fontSize) * 1.2);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-artist, .song-artist{
    font-size: calc(var(--fontSize) * 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--desc);
}

.player-img, .song-img{
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

#player-volume-container{
    position: relative;
}

.player-volume-controller{
    height: 10rem;
    width: 1.6rem;
    background-color: var(--surface);
    border: 1px solid var(--outline);
    position: absolute;
    bottom: 3rem;
    right: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-volume-bar{
    height: 100%;
    width: 100%;
    background-color: var(--outline);
    position: relative;
    cursor: pointer;
}

.player-volume-bar-fill{
    height: 0;
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 0.05s ease;
}

#player-shuffle, #player-loop{
    cursor: pointer;
    user-select: none;
    color: var(--desc) !important;
    transition: color 0.2s ease;
}
#player-shuffle.active, #player-loop.active{
    color: var(--text) !important;
}

#playlist{
    overflow-x: hidden;
    overflow-y: auto;
}

.song:not(.active){
    transition: background 0.2s ease;
    user-select: none;
    background-color: transparent;
}
.song:not(:last-child){border-bottom: var(--onOutline) 1px solid;}
.song:not(.active):hover{background-color: #0001;}
.song.active{background-color: #0002;}
.song.active:hover{background-color: #0003;}

@media (prefers-color-scheme: dark){
    .song:not(.active):hover{background-color: #fff1;}
    .song.active{background-color: #fff2;}
    .song.active:hover{background-color: #fff3;}
}

.song-duration{
    font-size: calc(var(--fontSize) * 0.8);
    color: var(--desc);
    text-align: center;
}

.tab-background{
    position: fixed;
    top: 0;
    left: 0;
    background: #0004;
}

.tab-layout-main{
    width: calc(var(--size) * 10);
}

.tab-item{
    cursor: pointer;
    text-align: center;
    transition: background 0.2s ease;
}
.tab-item:hover{background: #0002;}
