button:not(.icon), input, select, textarea{
    border-radius: 0.5rem;
    padding: 0.7rem;
    transition: background 0.2s ease;
}
input, select, textarea, button.none{
    border: 1px solid var(--outline);
    background-color: var(--surface);
    color: var(--text);
}
input:focus, select:focus, textarea:focus{outline: none;}
button{cursor: pointer;}
button:not(.reverse){color: var(--text);}
button.reverse:not(.icon){color: var(--textReverse);}
button:not(.icon,.none){
    border: 0;
    background-color: var(--primary);
}
button.icon{
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.5rem;
    width: 45px;
    font-size: x-large;
    transition: background 0.2s ease;
}
button.icon:not(.reverse){color: var(--textReverse);}
button.icon.reverse{color: var(--text);}
button.icon:hover{background-color: #0001;}
button.icon:not(.reverse):hover{background-color: #fff1;}
button:not(.icon,.none){background-color: var(--primary);}
button:not(.icon,.none):hover{background-color: var(--onPrimary);}
input, select{border: var(--outline) 1px solid;}

button:disabled, input:disabled, select:disabled, textarea:disabled{
    opacity: 0.5;
}

a{
    text-decoration: underline;
    color: var(--link);
}

::-webkit-scrollbar{
    width: 0.5rem;
    background-color: var(--surface);
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: var(--onSurface);
    border-radius: 0.5rem;
}
